body {
  color: #24292e;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
}

h2 {
  font-family: Muli, sans-serif;
}
